@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-VariableFont_wght.woff");
    src: url("../font/Raleway-VariableFont_wght.ttf") format("truetype");
}

body{
    font-family:"Raleway", "sans-serif";
    width: 1160px;
    margin: auto;
}

#head{
    width: 1160px;
    background-color: #782221;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
    margin-bottom: -25px;
}

#name{
    width: 1160px;
    background-color: #782221;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -20px;
    padding-bottom: 25px;
}

#work{
    width: 1160px;
    background-color: #782221;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}

#PP-style{
    cursor: zoom-in;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 0px 0px 50px 1px white;
}

#contact{
    width: 1120px;
    background-color: #2c1d27;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#adress{
    text-decoration: none;
    color: white;
}
#adress:hover{
    text-decoration: underline;
}

#email{
    text-decoration: none;
    color: white;
}
#email:hover{
    text-decoration: underline;
}

#phone-number{
    text-decoration: none;
    color: white;
}
#phone-number:hover{
    text-decoration: underline;
}

#allinfo{
    width: 1160px;
    display: flex;
}

#myself{
    width: 400px;
    background-color: #782221;
    padding-top: 10px;
}

#about{
    width: 90%;
    background-color: #dbc2a4;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
}

#description{
    width: 90%;
    text-indent: 50px;
    text-align: justify;
    padding-left: 10px;
}

#languages{
    width: 400px;
    background-color: #782221;
    padding-top: 15px;
    margin-top: -20px;
}

#lspeak{
    width: 90%;
    background-color: #dbc2a4;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
}

#lang{
    width: 90%;
    padding-left: 30px;
}

#hobbies{
    width: 400px;
    background-color: #782221;
    padding-top: 15px;
    margin-top: -20px;
    padding-bottom: 290px;
}

#hobb{
    width: 90%;
    background-color: #dbc2a4;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
}

#activities{
    width: 90%;
    padding-left: 30px;
    padding-bottom: 7px;
    margin-bottom: 90px;
}

#exp{
    width: 760px;
    padding-left: 40px;
    padding-bottom: 30px;
    border-right-color: #2c1d27;
    border-right-width: 3px;
    border-right-style: solid;
}

#pro{
    width: 95%;
    background-color: #dbc2a4;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-color: #782221;
}

#eden:hover{
    border-right-color: #782221;
    border-right-width: 5px;
    border-right-style: solid;
    margin-right: 32px;
}

#cohi:hover{
    border-right-color: #782221;
    border-right-width: 5px;
    border-right-style: solid;
    margin-right: 32px;
}

#BAC:hover{
    border-right-color: #782221;
    border-right-width: 5px;
    border-right-style: solid;
    margin-right: 32px;
}

#BEP:hover{
    border-right-color: #782221;
    border-right-width: 5px;
    border-right-style: solid;
    margin-right: 32px;
}

#for-border:hover{
    border-right-color: #782221;
    border-right-width: 5px;
    border-right-style: solid;
    margin-right: 32px;
}

#school{
    width: 95%;
    background-color: #dbc2a4;
    margin-top: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-color: #782221;
}

#skills{
    width: 95%;
    background-color: #dbc2a4;
    margin-top: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-color: #782221;
}

#social{
    width: 1160px;
    background-color: #782221;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#twitter:hover{
    opacity: 0.5;
}

#linkedin:hover{
    opacity: 0.5;
}

#github:hover{
    opacity: 0.5;
}

#update{
    width: 1160px;
    background-color: #782221;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -20px;
    padding-top: 15px;
    margin-bottom: -20px;
    padding-bottom: 25px;
    color: white;
    font-size: smaller;
}